body {
    font-family: "Avenir Heavy", "Avenir Light", "Avenir Medium", sans-serif;
    background-color: #f5f5f5;
    letter-spacing: 0.1px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    width: 2%;
    color: #aaa;
    position: relative;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

#bandymas {
    padding: 25px 0;
}
#addto {
    margin-right: 15px;
}

#forma {
    width: 100%;
}

.person {
    margin-top: 25px;

}



/* datos css */

.flex {
    display: flex;
    margin-top: 10px;
}

.flex #custom-cells-events {
    margin-left: 20px;
}

.button-holder {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.available {
    position: absolute;
    border: 1px solid #008be9;
    width: 40px;
    height: 36px;
    border-radius: 10%;
    left: 0;
    bottom: 0;
}

.-selected- .available {
    bottom: 0;
}

.timeselectButton {
    padding: 20px;
    background-color: #ffffff;
    color: #008be9;
    border: none;
    margin: 3px 0;
    outline: none;
}

.selected {
    background-color: #008be9;
    color: #ffffff;
}
